/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
        font-family: "lucida grande", verdana, tahoma, sans-serif;
        font-size: 13px;
        color: #333;
        background-color:#D0E2F3;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
}

#content_wrap {
	max-width: 80%; /* 1200px; */
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}

#body_wrap {
	padding: 20px 30px 20px 30px;
}

#top_wrap{
	float:left;
	width: 100%;
	border-bottom: 1px solid #333333;
	margin-bottom: 15px;
	background: #d0d0f0;
}

#top_bar{
	padding: 0px 30px;
}

#menu {
	margin: 15px 0px;
	font-size: 120%;
	font-weight: bold;
}

#menu span {
	padding-left: 1em;
	padding-right: 1em;
	border-left: 2px solid;
}

#menu span:first-child {
	padding-left: 0px;
	border-left: none;
}

#menu a {
	text-decoration: none;
	color: #555;
}

#menu a:hover {
	text-decoration: underline;
	color: #333;
}

.search_line {
	padding: 12px 0px;
}

table{
        -moz-box-shadow: 0px 0px 10px #333;
        -webkit-box-shadow: 0px 0px 10px #333;
        box-shadow: 0px 0px 10px #333;
}

thead th, tr.dark td{
        background-color: #333;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        height: 30px;
        padding: 3px 6px 3px 6px;
}
thead th a, th a:visited, tr.dark td a{
	color: #ffffff;
	text-decoration: none;
}
thead th a:hover, tr.dark td a:hover{
	color: #1088F9;
	text-decoration: underline;
}

.dark{
	color: #333333;
}

input[type="text"] {
        border: 1px #333333;
        -moz-box-shadow: 0px 0px 5px #333333;
        -webkit-box-shadow: 0px 0px 5px #333333;
        box-shadow: 0px 0px 5px #333333;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 25px;
        width: 200px;
        padding-left: 5px;
        padding-right: 5px;
}

input[type="submit"] {
        border: 1px #333333;
        -moz-box-shadow: 0px 0px 5px #333333;
        -webkit-box-shadow: 0px 0px 5px #333333;
        box-shadow: 0px 0px 5px #333333;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
}

.prev_next {
	font-size: 110%;
	font-weight: bold;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

h1.main_title{
        font-size: 230%;
}
h1.main_title a {
	color: #e22;
        text-decoration: none;
}

h1.main_title a:hover {
        color: #333;
        text-decoration: underline;
}

.backlink a {
	color: #555;
	text-decoration: none;
}

.backlink a:hover {
	color: #333;
	text-decoration: underline;
}

.structs {
        border: 1px solid #ffffff;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
}

.structs td{
        color: #ffffff;
        padding: 5px 5px 5px 5px;
        max-width: 200px;
}
.structs td h1,h2,h3,h4,h5{
        color: #333333;
}
.structs td h1 a,h2 a,h3 a,h4 a,h5 a{
        color: #333333;
}

/* DEFAULT TABLE STYLES */
.structs tr{
        color: #111111;
        background-color: #EFEFEF;
}
.structs tr a:hover{
        color: #1088F9;
}

.structs tr td {
        color: #111111;
}
.structs tr td a {
        color: #111111;
}
.structs tr td a:hover {
        color: #3d3d3d;
}
.structs tr {
        background-color: #EFEFEF;
}
.structs tr:nth-child(even) {
        background-color: #EFEFEF;
}
.structs tr:nth-child(odd) {
        background-color: #D6D6D6;
}

#top_box{
	position: fixed;
	left: 0px;
	bottom: 100px;
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	-moz-box-shadow: 0px 0px 3px #333;
	-webkit-box-shadow: 0px 0px 3px #333;
	box-shadow: 0px 0px 3px #333;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}

