<div>
  <h2>External links:</h2>
  <ul>
    <li><%= link_to('Sources', 'https://github.com/jirislaby/clang-struct') %></li>
    <li><%= link_to('OBS', 'https://build.opensuse.org/package/show/home:jirislaby/clang-struct') %></li>
  </ul>
</div>
<br>
